<% if message.user == @user %>
  <div class="chat chat-end">
    <div class="chat-bubble chat-bubble-success text-base-100" data-message-creator-id="<%= message.user_id %>"><%= message.message %></div>
  </div>
<% else %>
  <div class="chat chat-start">
    <div class="chat-bubble" data-message-creator-id="<%= message.user_id %>" data-message-source-language="<%= message.user.translation_language %>"><%= message.message %></div>
  </div>
<% end %>
