<div class="h-screen">
  <div class="rounded-t-lg bg-success h-10"></div>
  <div class="flex bg-base-100 h-[calc(100vh-2.5rem)]">
    <div class="basis-1/4 shadow-md">
      <div class="h-24 bg-gray-100">
        <div class="flex justify-between p-5">
          <div class="avatar">
            <div class="w-12 rounded-full">
              <%= image_tag 'avatar.svg' %>
            </div>
          </div>
          <div class="flex justify-center">
            <label for="modal-new-chat" class="btn btn-ghost btn-circle">
              <%= image_tag 'chat.svg', class: 'w-8' %>
            </label>
            <%= render Shared::Lists::DropdownComponent.new do |dropdown| %>
              <% dropdown.with_header do %>
                <label tabindex="0" class="btn btn-circle btn-ghost">
                  <%= image_tag 'three_dots.svg', class: 'w-6' %>
                </label>
              <% end %>

              <% dropdown.with_item do %>
                <%= link_to 'Profile', edit_user_registration_path %>
              <% end %>

              <% dropdown.with_item do %>
                <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="overflow-y-auto h-[calc(100vh-8.5rem)]">
        <%= turbo_frame_tag 'chats-list', src: chats_path %>
      </div>
    </div>
    <div class="basis-3/4 shadow-md">
      <div class="flex p-5 h-24 bg-gray-100">
        <div class="avatar">
          <div class="w-12 rounded-full">
            <%= image_tag 'avatar.svg' %>
          </div>
        </div>
        <p class="self-center p-5 font-bold capitalize">username</p>
      </div>
      <div class="grid content-end h-[calc(100vh-14.5rem)] overflow-y-auto p-10">
        <div class="chat chat-start">
          <div class="chat-bubble">What kind of nonsense is this</div>
        </div>
        <div class="chat chat-end">
          <div class="chat-bubble chat-bubble-success text-base-100">It's never happened before.</div>
        </div>
      </div>
      <div class="bg-gray-100 h-24 grid gap-3">
        <form class="flex content-end justify-between p-5">
          <input type="text" placeholder="Type here" class="input input-bordered focus:input-accent w-full" />
          <button type="submit" class="btn btn-circle btn-ghost m-1">
            <%= inline_svg 'send.svg', class: 'w-8 text-success' %>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<%= render Layout::ModalComponent.new(title: 'Start Chat', id: 'modal-new-chat') do %>
  <%= turbo_frame_tag 'new-chat', src: new_chat_path %>
<% end %>