<div class="w-full">
  <div class="flex p-5 h-24 bg-gray-100">
    <div class="avatar">
      <div class="w-12">
        <%= user.avatar(size: 40) %>
      </div>
    </div>
    <p class="self-center p-5 font-bold capitalize"><%= user.full_name %></p>
  </div>
  <div class="grid overflow-y-auto h-[calc(100vh-14.5rem)] p-10" id="messages" data-controller="messages" data-messages-target="container" data-messages-current-user-id-value="<%= @user_logged_in.id %>">
    <%= render partial: 'messages/message', collection: messages %>
    <%= helpers.turbo_stream_from :messages_channel %>
  </div>
  <div class="bg-gray-100 h-24 grid gap-3" id="form-message-container">
    <%= helpers.turbo_frame_tag :new_message_channel, target: 'form-message-container' do %>
      <%= render 'messages/form', '@chat': @chat %>
    <% end %>
  </div>
</div>